In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

def read_file(nom_fichier):
    """
    nom_fichier (str): path du fichier
    exemple: read_file('./data/ratings.csv')
    """
    if nom_fichier.endswith('.csv'):
        df = pd.read_csv(nom_fichier)
    elif nom_fichier.endswith('.tsv.gz'):
        df = pd.read_csv(nom_fichier, compression='gzip', sep='\t')
    else:
        print("Format de fichier non supporté.")
        return
    return df

In [3]:
import numpy as np

In [3]:
#Using reduced Movie only database, as basis for our Corpus, extracted in file movies_df.csv

In [4]:
#df_movieB = pd.read_csv("./data/"movie_df.csv)
df_movieB = pd.read_csv("./data/movie_df.csv")

In [5]:
df_movieB.head()

,movieId,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,directors,writers,averageRating,numVotes,actor1,actor2,tags_list,runtimeCat,wRating,original_language,overview
0,1,tt0114709,Toy Story,Toy Story,1995,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923...",8.3,1097902,nm0000158,nm0000741,"1036,244,786,589,64,588,785,204,186,536",short,8.298230,en,"Led by Woody, Andy's toys live happily in his ..."
1,2,tt0113497,Jumanji,Jumanji,1995,104,"Adventure,Comedy,Family",nm0002653,"nm0378144,nm0852430,nm0833164,nm0885575",7.1,387736,nm0000245,nm0000379,"29,584,204,588,951,377,62,415,203,374",average,7.098083,en,When siblings Judy and Peter discover an encha...
2,3,tt0113228,Grumpier Old Men,Grumpier Old Men,1995,101,"Comedy,Romance",nm0222043,nm0425756,6.7,30240,nm0000527,nm0000493,"451,901,902,230,742,264,299,464,863,397",average,6.688949,en,A family wedding reignites the ancient feud be...
3,4,tt0114885,Waiting to Exhale,Waiting to Exhale,1995,124,"Comedy,Drama,Romance",nm0001845,"nm0573334,nm0060103",6.0,12579,nm0001365,nm0000291,"1116,201,439,864,1062,742,846,1003,388,967",average,6.026127,en,"Cheated on, mistreated and stepped on, the wom..."
4,5,tt0113041,Father of the Bride Part II,Father of the Bride Part II,1995,106,"Comedy,Family,Romance",nm0796124,"nm0352443,nm0329304,nm0583600,nm0796124",6.1,42542,nm0000188,nm0000473,"451,383,902,901,230,808,374,1102,768,417",average,6.105851,en,Just when George Banks has recovered from his ...

In [6]:
#la colonne movieId est  extraire de MovieLens
#la colonne tconst est le imdbId

In [7]:
# 1 start with context based filtering based on genre descriptions as provided by IMBD in column genres in movie_df.csv

In [6]:
from sklearn.preprocessing import MultiLabelBinarizer

In [7]:
# Convert genres to list
df_movieB['genres_list'] = df_movieB['genres'].str.split(',')

In [8]:
# Create and fit MultiLabelBinarizer
mlb = MultiLabelBinarizer()
genres_encoded = pd.DataFrame(
    mlb.fit_transform(df_movieB['genres_list']),
    columns=mlb.classes_,
    index=df_movieB.index
)

In [9]:
# Combine with original dataframe
df_movieB = pd.concat([df_movieB, genres_encoded], axis=1)

In [10]:
df_movieB.head()

,movieId,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,directors,writers,averageRating,...,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western,\N
0,1,tt0114709,Toy Story,Toy Story,1995,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923...",8.3,...,0,0,0,0,0,0,0,0,0,0
1,2,tt0113497,Jumanji,Jumanji,1995,104,"Adventure,Comedy,Family",nm0002653,"nm0378144,nm0852430,nm0833164,nm0885575",7.1,...,0,0,0,0,0,0,0,0,0,0
2,3,tt0113228,Grumpier Old Men,Grumpier Old Men,1995,101,"Comedy,Romance",nm0222043,nm0425756,6.7,...,0,0,0,1,0,0,0,0,0,0
3,4,tt0114885,Waiting to Exhale,Waiting to Exhale,1995,124,"Comedy,Drama,Romance",nm0001845,"nm0573334,nm0060103",6.0,...,0,0,0,1,0,0,0,0,0,0
4,5,tt0113041,Father of the Bride Part II,Father of the Bride Part II,1995,106,"Comedy,Family,Romance",nm0796124,"nm0352443,nm0329304,nm0583600,nm0796124",6.1,...,0,0,0,1,0,0,0,0,0,0

In [11]:
mv_ratings = pd.read_csv("./data/ratings.csv")
#df_user_ratings = pd.read_csv("./data/ratings.csv")
#mv_ratings = pd.read_csv('ratings.csv')

In [12]:
mv_ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [13]:
mv_ratings['userId'].nunique()

138493

In [14]:
mv_user1 = mv_ratings.loc[mv_ratings['userId']==1]

In [15]:
mv_user1

     userId  movieId  rating   timestamp
0         1        2     3.5  1112486027
1         1       29     3.5  1112484676
2         1       32     3.5  1112484819
3         1       47     3.5  1112484727
4         1       50     3.5  1112484580
..      ...      ...     ...         ...
170       1     8507     5.0  1094786027
171       1     8636     4.5  1112485493
172       1     8690     3.5  1112484795
173       1     8961     4.0  1112485629
174       1    31696     4.0  1112485748

[175 rows x 4 columns]

In [16]:
mv_user1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 175 entries, 0 to 174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     175 non-null    int64
 1   movieId    175 non-null    int64
 2   rating     175 non-null    float64
 3   timestamp  175 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 6.8 KB

In [17]:
mv_user1.describe()

       userId       movieId      rating     timestamp
count   175.0    175.000000  175.000000  1.750000e+02
mean      1.0   3428.537143    3.742857  1.107833e+09
std       0.0   3207.448049    0.382284  7.813424e+06
min       1.0      2.000000    3.000000  1.094786e+09
25%       1.0   1253.500000    3.500000  1.094786e+09
50%       1.0   2692.000000    4.000000  1.112485e+09
75%       1.0   4986.500000    4.000000  1.112486e+09
max       1.0  31696.000000    5.000000  1.112486e+09

In [20]:
#content-based movie recommender system that considers movie genre similarities between films to propose new films for a certain user to watch

In [18]:
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
#Attn:! input dataframe df_movie for the following recommendation function get_recommendations should contain as columns the movieId column and the remaining are the ones to be tested for similarity!!

In [20]:
def get_recommendations(user_id, df_user, df_movie, n_recommendations=10):
    """Get movie recommendations for user using vectorized operations"""
    
    # Get genre columns (all except movieId)
    genre_cols = df_movie.columns[df_movie.columns != 'movieId']
    
    # Get user's rated movies and merge with features
    user_ratings = df_user[df_user['userId'] == user_id]
    user_movies = user_ratings.merge(df_movie, on='movieId')
    
    # Calculate similarities matrix for all movies at once
    all_movies_features = df_movie[genre_cols].values
    user_movies_features = user_movies[genre_cols].values
    
    # Calculate similarity matrix (user_movies x all_movies)
    similarities = cosine_similarity(user_movies_features, all_movies_features)
    
    # Weight similarities by ratings
    weighted_similarities = similarities * user_ratings['rating'].values.reshape(-1, 1)
    
    # Calculate mean similarity for each movie
    mean_similarities = weighted_similarities.mean(axis=0)
    
    # Create recommendations dataframe
    recommendations = pd.DataFrame({
        'movieId': df_movie['movieId'],
        'similarity_score': mean_similarities
    })
    
    # Filter out already rated movies
    rated_movies = user_ratings['movieId']
    recommendations = recommendations[~recommendations['movieId'].isin(rated_movies)]
    
    # Sort and get top recommendations
    return recommendations.nlargest(n_recommendations, 'similarity_score')['movieId']

In [21]:
# Alternative using Euclidean distance
from sklearn.metrics.pairwise import euclidean_distances

def get_recommendations_euclidean(user_id, df_user, df_movie, n_recommendations=10):
    """Get recommendations using Euclidean distance"""
    
    genre_cols = df_movie.columns[df_movie.columns != 'movieId']
    
    user_ratings = df_user[df_user['userId'] == user_id]
    user_movies = user_ratings.merge(df_movie, on='movieId')
    
    all_movies_features = df_movie[genre_cols].values
    user_movies_features = user_movies[genre_cols].values
    
    # Calculate distances and convert to similarities
    distances = euclidean_distances(user_movies_features, all_movies_features)
    similarities = 1 / (1 + distances)
    
    weighted_similarities = similarities * user_ratings['rating'].values.reshape(-1, 1)
    mean_similarities = weighted_similarities.mean(axis=0)
    
    recommendations = pd.DataFrame({
        'movieId': df_movie['movieId'],
        'similarity_score': mean_similarities
    })
    
    rated_movies = user_ratings['movieId']
    recommendations = recommendations[~recommendations['movieId'].isin(rated_movies)]
    
    return recommendations.nlargest(n_recommendations, 'similarity_score')['movieId']

In [22]:
# Alternative using Euclidean distance
from sklearn.metrics.pairwise import euclidean_distances

def get_recommendations_euclidean(user_id, df_user, df_movie, n_recommendations=10):
    """Get recommendations using Euclidean distance"""
    
    genre_cols = df_movie.columns[df_movie.columns != 'movieId']
    
    user_ratings = df_user[df_user['userId'] == user_id]
    user_movies = user_ratings.merge(df_movie, on='movieId')
    
    all_movies_features = df_movie[genre_cols].values
    user_movies_features = user_movies[genre_cols].values
    
    # Calculate distances and convert to similarities
    distances = euclidean_distances(user_movies_features, all_movies_features)
    similarities = 1 / (1 + distances)
    
    weighted_similarities = similarities * user_ratings['rating'].values.reshape(-1, 1)
    mean_similarities = weighted_similarities.mean(axis=0)
    
    recommendations = pd.DataFrame({
        'movieId': df_movie['movieId'],
        'similarity_score': mean_similarities
    })
    
    rated_movies = user_ratings['movieId']
    recommendations = recommendations[~recommendations['movieId'].isin(rated_movies)]
    
    return recommendations.nlargest(n_recommendations, 'similarity_score')

In [26]:
#testing genres only

In [23]:
df_movieB.columns

Index(['movieId', 'tconst', 'primaryTitle', 'originalTitle', 'startYear',
       'runtimeMinutes', 'genres', 'directors', 'writers', 'averageRating',
       'numVotes', 'actor1', 'actor2', 'tags_list', 'runtimeCat', 'wRating',
       'original_language', 'overview', 'genres_list', 'Action', 'Adult',
       'Adventure', 'Animation', 'Biography', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Family', 'Fantasy', 'Film-Noir', 'History', 'Horror', 'Music',
       'Musical', 'Mystery', 'News', 'Romance', 'Sci-Fi', 'Sport', 'Thriller',
       'War', 'Western', '\N'],
      dtype='object')

In [24]:
df_movieB.head()

,movieId,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,genres,directors,writers,averageRating,...,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western,\N
0,1,tt0114709,Toy Story,Toy Story,1995,81,"Adventure,Animation,Comedy",nm0005124,"nm0005124,nm0230032,nm0004056,nm0710020,nm0923...",8.3,...,0,0,0,0,0,0,0,0,0,0
1,2,tt0113497,Jumanji,Jumanji,1995,104,"Adventure,Comedy,Family",nm0002653,"nm0378144,nm0852430,nm0833164,nm0885575",7.1,...,0,0,0,0,0,0,0,0,0,0
2,3,tt0113228,Grumpier Old Men,Grumpier Old Men,1995,101,"Comedy,Romance",nm0222043,nm0425756,6.7,...,0,0,0,1,0,0,0,0,0,0
3,4,tt0114885,Waiting to Exhale,Waiting to Exhale,1995,124,"Comedy,Drama,Romance",nm0001845,"nm0573334,nm0060103",6.0,...,0,0,0,1,0,0,0,0,0,0
4,5,tt0113041,Father of the Bride Part II,Father of the Bride Part II,1995,106,"Comedy,Family,Romance",nm0796124,"nm0352443,nm0329304,nm0583600,nm0796124",6.1,...,0,0,0,1,0,0,0,0,0,0

In [25]:
#select from dataframe df_movieB the column 'movieId' and then all the columns that come after the column named 'genres_list'.
df_movie_genres = df_movieB[['movieId'] + list(df_movieB.columns[df_movieB.columns.get_loc('genres_list')+1:])]

In [26]:
df_movie_genres.tail()

,movieId,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western,\N
22640,131254,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22641,131256,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22642,131258,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22643,131260,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
22644,131262,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [27]:
df_movie_genres = df_movie_genres.reset_index(drop=True) # maybe not necessary?

In [28]:
df_movie_genres.head()

,movieId,Action,Adult,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,...,Musical,Mystery,News,Romance,Sci-Fi,Sport,Thriller,War,Western,\N
0,1,0,0,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,4,0,0,0,0,0,1,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,5,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [29]:
user_id = 1

In [31]:
recommended_movies = get_recommendations(user_id, mv_user1, df_movie_genres)

In [32]:
recommended_movies

144      155
156      168
389      416
566      599
660      704
741      798
904      967
961     1027
1255    1356
1303    1408
Name: movieId, dtype: int64

In [33]:
def get_recommendationsB(user_id, df_user, df_movie, n_recommendations=10):
    """Get movie recommendations for user using vectorized operations"""
    
    # Get genre columns (all except movieId)
    genre_cols = df_movie.columns[df_movie.columns != 'movieId']
    
    # Get user's rated movies and merge with features
    user_ratings = df_user[df_user['userId'] == user_id]
    user_movies = user_ratings.merge(df_movie, on='movieId')
    
    # Calculate similarities matrix for all movies at once
    all_movies_features = df_movie[genre_cols].values
    user_movies_features = user_movies[genre_cols].values
    
    # Calculate similarity matrix (user_movies x all_movies)
    similarities = cosine_similarity(user_movies_features, all_movies_features)
    
    # Weight similarities by ratings
    weighted_similarities = similarities * user_ratings['rating'].values.reshape(-1, 1)
    
    # Calculate mean similarity for each movie
    mean_similarities = weighted_similarities.mean(axis=0)
    
    # Create recommendations dataframe
    recommendations = pd.DataFrame({
        'movieId': df_movie['movieId'],
        'similarity_score': mean_similarities
    })
    
    # Filter out already rated movies
    rated_movies = user_ratings['movieId']
    recommendations = recommendations[~recommendations['movieId'].isin(rated_movies)]
    
    # Sort and get top recommendations
    return recommendations.nlargest(n_recommendations, 'similarity_score')

In [34]:
recommended_moviesB = get_recommendationsB(user_id, mv_user1, df_movie_genres)

In [35]:
recommended_moviesB

      movieId  similarity_score
144       155          1.505201
156       168          1.505201
389       416          1.505201
566       599          1.505201
660       704          1.505201
741       798          1.505201
904       967          1.505201
961      1027          1.505201
1255     1356          1.505201
1303     1408          1.505201

In [36]:
#introduce Bayesian average 
def calculate_bayesian_weights(ratings):
    """Calculate Bayesian weights for ratings"""
    C = ratings['movieId'].value_counts().mean()  # mean number of ratings
    M = ratings['rating'].mean()  # mean rating across all items
    
    # Group by movie and calculate stats
    movie_stats = ratings.groupby('movieId').agg({
        'rating': ['count', 'mean']
    }).droplevel(0, axis=1)
    
    # Calculate Bayesian average
    movie_stats['bayesian_avg'] = (
        (C * M + movie_stats['count'] * movie_stats['mean']) / 
        (C + movie_stats['count'])
    )
    
    return movie_stats['bayesian_avg']

In [37]:
# Calculate Bayesian weights once
bayesian_weights = calculate_bayesian_weights(mv_ratings)

In [38]:
bayesian_weights

movieId
1         3.915373
2         3.222176
3         3.171812
4         3.003143
5         3.091295
            ...
131254    3.526162
131256    3.526162
131258    3.524159
131260    3.524827
131262    3.526162
Name: bayesian_avg, Length: 26744, dtype: float64

In [39]:
def get_recommendations_bayesian(user_id, df_user, df_movie, bayesian_weights, n_recommendations=5):
    """Get recommendations using pre-calculated Bayesian weights"""
    
    genre_cols = df_movie.columns[df_movie.columns != 'movieId']
    user_ratings = df_user[df_user['userId'] == user_id]
    user_movies = user_ratings.merge(df_movie, on='movieId')
    
    # Create weights DataFrame aligned with df_movie
    weights_df = pd.DataFrame(index=df_movie['movieId'])
    weights_df['bayesian_weight'] = bayesian_weights
    weights_df = weights_df.fillna(weights_df['bayesian_weight'].mean())
    
    # Ensure exact same movies are used
    all_movies_features = df_movie[genre_cols].values
    user_movies_features = user_movies[genre_cols].values
    similarities = cosine_similarity(user_movies_features, all_movies_features)
    
    # Make sure weights align exactly with df_movie
    bayesian_weights_aligned = weights_df.reindex(df_movie['movieId'])['bayesian_weight'].values
    
    weighted_similarities = (
        similarities * 
        user_ratings['rating'].values.reshape(-1, 1) *
        bayesian_weights_aligned.reshape(1, -1)
    )
    
    mean_similarities = weighted_similarities.mean(axis=0)
    
    recommendations = pd.DataFrame({
        'movieId': df_movie['movieId'],
        'similarity_score': mean_similarities
    })
    
    rated_movies = user_ratings['movieId']
    recommendations = recommendations[~recommendations['movieId'].isin(rated_movies)]
    
    return recommendations.nlargest(n_recommendations, 'similarity_score')['movieId']

In [40]:
recommended_moviesB_Bayesian = get_recommendations_bayesian(user_id, mv_ratings, df_movie_genres, bayesian_weights)

In [41]:
recommended_moviesB_Bayesian

3337    3578
566      599
6662    7090
4044    4327
3384    3629
Name: movieId, dtype: int64

In [42]:
def get_recommendations_bayesian(user_id, df_user, df_movie, bayesian_weights, n_recommendations=10):
    """Get recommendations using pre-calculated Bayesian weights"""
    
    genre_cols = df_movie.columns[df_movie.columns != 'movieId']
    user_ratings = df_user[df_user['userId'] == user_id]
    user_movies = user_ratings.merge(df_movie, on='movieId')
    
    # Create weights DataFrame aligned with df_movie
    weights_df = pd.DataFrame(index=df_movie['movieId'])
    weights_df['bayesian_weight'] = bayesian_weights
    weights_df = weights_df.fillna(weights_df['bayesian_weight'].mean())
    
    # Ensure exact same movies are used
    all_movies_features = df_movie[genre_cols].values
    user_movies_features = user_movies[genre_cols].values
    similarities = cosine_similarity(user_movies_features, all_movies_features)
    
    # Make sure weights align exactly with df_movie
    bayesian_weights_aligned = weights_df.reindex(df_movie['movieId'])['bayesian_weight'].values
    
    weighted_similarities = (
        similarities * 
        user_ratings['rating'].values.reshape(-1, 1) *
        bayesian_weights_aligned.reshape(1, -1)
    )
    
    mean_similarities = weighted_similarities.mean(axis=0)
    
    recommendations = pd.DataFrame({
        'movieId': df_movie['movieId'],
        'similarity_score': mean_similarities
    })
    
    rated_movies = user_ratings['movieId']
    recommendations = recommendations[~recommendations['movieId'].isin(rated_movies)]
    
    return recommendations.nlargest(n_recommendations, 'similarity_score')

In [43]:
recommended_moviesB_Bayesian = get_recommendations_bayesian(user_id, mv_ratings, df_movie_genres, bayesian_weights)

In [44]:
recommended_moviesB_Bayesian

       movieId  similarity_score
3337      3578          5.934644
566        599          5.890380
6662      7090          5.849844
4044      4327          5.823710
3384      3629          5.711285
11717    59387          5.675529
10753    50068          5.665969
3409      3654          5.664152
4745      5064          5.658571
6712      7147          5.643998

In [45]:
def add_columns(dA, dB, columns_to_add):
    """
    Add specified columns from dB to dA based on movieId
    """
    # Validate inputs
    if 'movieId' not in dA.columns or 'movieId' not in dB.columns:
        raise ValueError("Both dataframes must contain 'movieId' column")
    
    # Check if specified columns exist in dB
    missing_cols = [col for col in columns_to_add if col not in dB.columns]
    if missing_cols:
        raise ValueError(f"Columns {missing_cols} not found in second dataframe")
    
    # Merge dataframes
    merge_columns = ['movieId'] + columns_to_add
    result = dA.merge(
        dB[merge_columns],
        on='movieId',
        how='left'
    )
    
    return result.reset_index(drop=True)

In [46]:
columns_to_add = ['originalTitle', 'genres', 'startYear']

In [47]:
reco_Bayesian_user1 = add_columns(recommended_moviesB_Bayesian, df_movieB, columns_to_add)

In [48]:
reco_Bayesian_user1

,movieId,similarity_score,originalTitle,genres,startYear
0,3578,5.934644,Gladiator,"Action,Adventure,Drama",2000
1,599,5.890380,The Wild Bunch,"Action,Adventure,Drama",1969
2,7090,5.849844,Ying xiong,"Action,Adventure,Drama",2002
3,4327,5.823710,The Magnificent Seven,"Action,Adventure,Drama",1960
4,3629,5.711285,The Gold Rush,"Adventure,Comedy,Drama",1925
5,59387,5.675529,The Fall,"Adventure,Drama,Fantasy",2006
6,50068,5.665969,Letters from Iwo Jima,"Action,Adventure,Drama",2006
7,3654,5.664152,The Guns of Navarone,"Action,Adventure,Drama",1961
8,5064,5.658571,The Count of Monte Cristo,"Action,Adventure,Drama",2002
9,7147,5.643998,Big Fish,"Adventure,Drama,Fantasy",2003

In [50]:
#initial films seen by user 1
films_user1 = add_columns(mv_user1, df_movieB, columns_to_add)

In [51]:
films_user1

,userId,movieId,rating,timestamp,originalTitle,genres,startYear
0,1,2,3.5,1112486027,Jumanji,"Adventure,Comedy,Family",1995
1,1,29,3.5,1112484676,La cité des enfants perdus,"Adventure,Drama,Fantasy",1995
2,1,32,3.5,1112484819,Twelve Monkeys,"Mystery,Sci-Fi,Thriller",1995
3,1,47,3.5,1112484727,Se7en,"Crime,Drama,Mystery",1995
4,1,50,3.5,1112484580,The Usual Suspects,"Crime,Drama,Mystery",1995
...,...,...,...,...,...,...,...
170,1,8507,5.0,1094786027,Freaks,"Drama,Horror",1932
171,1,8636,4.5,1112485493,Spider-Man 2,"Action,Adventure,Sci-Fi",2004
172,1,8690,3.5,1112484795,Slaughterhouse-Five,"Comedy,Drama,Sci-Fi",1972
173,1,8961,4.0,1112485629,The Incredibles,"Action,Adventure,Animation",2004
174,1,31696,4.0,1112485748,Constantine,"Action,Fantasy,Horror",2005

In [52]:
films_user1.sort_values('rating', ascending=False, inplace=True) #to get highest ratings on top

In [53]:
films_user1

,userId,movieId,rating,timestamp,originalTitle,genres,startYear
131,1,4993,5.0,1112484682,The Lord of the Rings: The Fellowship of the Ring,"Adventure,Drama,Fantasy",2001
170,1,8507,5.0,1094786027,Freaks,"Drama,Horror",1932
158,1,7153,5.0,1112484633,The Lord of the Rings: The Return of the King,"Adventure,Drama,Fantasy",2003
142,1,5952,5.0,1112484619,The Lord of the Rings: The Two Towers,"Adventure,Drama,Fantasy",2002
30,1,1196,4.5,1112484742,Star Wars: Episode V - The Empire Strikes Back,"Action,Adventure,Fantasy",1980
...,...,...,...,...,...,...,...
117,1,4133,3.0,1112486169,Masters of the Universe,"Action,Adventure,Fantasy",1987
128,1,4915,3.0,1112486076,The Beastmaster,"Action,Adventure,Fantasy",1982
134,1,5040,3.0,1112486086,Conan the Destroyer,"Action,Adventure,Fantasy",1984
154,1,6888,3.0,1112486127,Scary Movie 3,Comedy,2003
166,1,7482,3.0,1112484575,Enter the Dragon,"Action,Crime,Thriller",1973

In [54]:
films_user1.describe()

       userId       movieId      rating     timestamp    startYear
count   175.0    175.000000  175.000000  1.750000e+02   175.000000
mean      1.0   3428.537143    3.742857  1.107833e+09  1985.897143
std       0.0   3207.448049    0.382284  7.813424e+06    15.576683
min       1.0      2.000000    3.000000  1.094786e+09  1922.000000
25%       1.0   1253.500000    3.500000  1.094786e+09  1981.000000
50%       1.0   2692.000000    4.000000  1.112485e+09  1988.000000
75%       1.0   4986.500000    4.000000  1.112486e+09  1997.500000
max       1.0  31696.000000    5.000000  1.112486e+09  2005.000000

In [55]:
#check previous recommendations without Bayesian av
film_recos_user1_noBayesianAv = add_columns(recommended_moviesB, df_movieB, columns_to_add)

In [58]:
film_recos_user1_noBayesianAv

,movieId,similarity_score,originalTitle,genres,startYear
0,155,1.505201,Beyond Rangoon,"Action,Adventure,Drama",1995
1,168,1.505201,First Knight,"Action,Adventure,Drama",1995
2,416,1.505201,Bad Girls,"Action,Adventure,Drama",1994
3,599,1.505201,The Wild Bunch,"Action,Adventure,Drama",1969
4,704,1.505201,The Quest,"Action,Adventure,Drama",1996
5,798,1.505201,Daylight,"Action,Adventure,Drama",1996
6,967,1.505201,The Outlaw,"Action,Adventure,Drama",1943
7,1027,1.505201,Robin Hood: Prince of Thieves,"Action,Adventure,Drama",1991
8,1356,1.505201,Star Trek: First Contact,"Action,Adventure,Drama",1996
9,1408,1.505201,The Last of the Mohicans,"Action,Adventure,Drama",1992

In [56]:
reco_Bayesian_user1

,movieId,similarity_score,originalTitle,genres,startYear
0,3578,5.934644,Gladiator,"Action,Adventure,Drama",2000
1,599,5.890380,The Wild Bunch,"Action,Adventure,Drama",1969
2,7090,5.849844,Ying xiong,"Action,Adventure,Drama",2002
3,4327,5.823710,The Magnificent Seven,"Action,Adventure,Drama",1960
4,3629,5.711285,The Gold Rush,"Adventure,Comedy,Drama",1925
5,59387,5.675529,The Fall,"Adventure,Drama,Fantasy",2006
6,50068,5.665969,Letters from Iwo Jima,"Action,Adventure,Drama",2006
7,3654,5.664152,The Guns of Navarone,"Action,Adventure,Drama",1961
8,5064,5.658571,The Count of Monte Cristo,"Action,Adventure,Drama",2002
9,7147,5.643998,Big Fish,"Adventure,Drama,Fantasy",2003

In [60]:
###Check recommednations with euclidean distance

In [58]:
def get_recommendations_euclidean_bayesian(user_id, df_user, df_movie, bayesian_weights, n_recommendations=10):
    """Get recommendations using pre-calculated Bayesian weights"""
    
    genre_cols = df_movie.columns[df_movie.columns != 'movieId']
    user_ratings = df_user[df_user['userId'] == user_id]
    user_movies = user_ratings.merge(df_movie, on='movieId')
    
    # Create weights DataFrame aligned with df_movie
    weights_df = pd.DataFrame(index=df_movie['movieId'])
    weights_df['bayesian_weight'] = bayesian_weights
    weights_df = weights_df.fillna(weights_df['bayesian_weight'].mean())
    
    # Ensure exact same movies are used
    all_movies_features = df_movie[genre_cols].values
    user_movies_features = user_movies[genre_cols].values
    
    # Calculate distances and convert to similarities
    distances = euclidean_distances(user_movies_features, all_movies_features)
    similarities = 1 / (1 + distances)
    
    
    # Make sure weights align exactly with df_movie
    bayesian_weights_aligned = weights_df.reindex(df_movie['movieId'])['bayesian_weight'].values
    
    weighted_similarities = (
        similarities * 
        user_ratings['rating'].values.reshape(-1, 1) *
        bayesian_weights_aligned.reshape(1, -1)
    )
    
    mean_similarities = weighted_similarities.mean(axis=0)
    
    recommendations = pd.DataFrame({
        'movieId': df_movie['movieId'],
        'similarity_score': mean_similarities
    })
    
    rated_movies = user_ratings['movieId']
    recommendations = recommendations[~recommendations['movieId'].isin(rated_movies)]
    
    return recommendations.nlargest(n_recommendations, 'similarity_score')

In [59]:
recommended_moviesB_Bayesian_euclidean = get_recommendations_euclidean_bayesian(user_id, mv_ratings, df_movie_genres, bayesian_weights)

In [60]:
recommended_moviesB_Bayesian_euclidean

      movieId  similarity_score
1840     2019          6.208967
2649     2858          6.086733
1123     1210          6.069315
863       926          6.038917
2871     3089          5.911240
3682     3949          5.885683
723       778          5.867501
2167     2360          5.837986
1056     1132          5.833464
2164     2357          5.821296

In [61]:
recommended_moviesB_Bayesian_euclidean = add_columns(recommended_moviesB_Bayesian_euclidean, df_movieB, columns_to_add)

In [62]:
recommended_moviesB_Bayesian_euclidean

,movieId,similarity_score,originalTitle,genres,startYear
0,2019,6.208967,Shichinin no samurai,Drama,1954
1,2858,6.086733,American Beauty,Drama,1999
2,1210,6.069315,Star Wars: Episode VI - Return of the Jedi,"Action,Adventure,Fantasy",1983
3,926,6.038917,All About Eve,Drama,1950
4,3089,5.911240,Ladri di biciclette,Drama,1948
5,3949,5.885683,Requiem for a Dream,Drama,2000
6,778,5.867501,Trainspotting,Drama,1996
7,2360,5.837986,Festen,Drama,1998
8,1132,5.833464,Manon des sources,Drama,1986
9,2357,5.821296,Central do Brasil,Drama,1998

In [63]:
recommended_moviesB_euclidean = get_recommendations_euclidean(user_id, mv_ratings, df_movie_genres)

In [64]:
recommended_moviesB_euclidean

      movieId  similarity_score
42         44          1.518432
636       674          1.518432
1123     1210          1.518432
1185     1275          1.518432
1270     1373          1.518432
1474     1606          1.518432
1541     1681          1.518432
2180     2373          1.518432
2417     2617          1.518432
2754     2965          1.518432

In [65]:
recommended_moviesB_euclidean = add_columns(recommended_moviesB_euclidean, df_movieB, columns_to_add)

In [66]:
recommended_moviesB_euclidean

,movieId,similarity_score,originalTitle,genres,startYear
0,44,1.518432,Mortal Kombat,"Action,Adventure,Fantasy",1995
1,674,1.518432,Barbarella,"Action,Adventure,Fantasy",1968
2,1210,1.518432,Star Wars: Episode VI - Return of the Jedi,"Action,Adventure,Fantasy",1983
3,1275,1.518432,Highlander,"Action,Adventure,Fantasy",1986
4,1373,1.518432,Star Trek V: The Final Frontier,"Action,Adventure,Fantasy",1989
5,1606,1.518432,Kull the Conqueror,"Action,Adventure,Fantasy",1997
6,1681,1.518432,Mortal Kombat: Annihilation,"Action,Adventure,Fantasy",1997
7,2373,1.518432,Red Sonja,"Action,Adventure,Fantasy",1985
8,2617,1.518432,The Mummy,"Action,Adventure,Fantasy",1999
9,2965,1.518432,The Omega Code,"Action,Adventure,Fantasy",1999

In [70]:
#checking with Jaccard distance (ctypical use for Binary/categorical data)

In [67]:
from scipy.spatial.distance import jaccard

from sklearn.metrics.pairwise import pairwise_distances

def get_recommendations_bayesian_jaccard(user_id, df_user, df_movie, bayesian_weights, n_recommendations=10):
    """Get recommendations using Jaccard similarity and Bayesian weights"""
    
    genre_cols = df_movie.columns[df_movie.columns != 'movieId']
    user_ratings = df_user[df_user['userId'] == user_id]
    user_movies = user_ratings.merge(df_movie, on='movieId')
    
    # Create weights DataFrame
    weights_df = pd.DataFrame(index=df_movie['movieId'])
    weights_df['bayesian_weight'] = bayesian_weights
    weights_df = weights_df.fillna(weights_df['bayesian_weight'].mean())
    
    # Calculate Jaccard similarities (more efficient)
    all_movies_features = df_movie[genre_cols].values
    user_movies_features = user_movies[genre_cols].values
    
    # Convert distances to similarities (1 - distance)
    similarities = 1 - pairwise_distances(
        user_movies_features, 
        all_movies_features, 
        metric='jaccard'
    )
    
    # Ensure proper shape for broadcasting
    bayesian_weights_aligned = weights_df.reindex(df_movie['movieId'])['bayesian_weight'].values
    
    weighted_similarities = (
        similarities * 
        user_ratings['rating'].values.reshape(-1, 1) *
        bayesian_weights_aligned.reshape(1, -1)
    )
    
    mean_similarities = weighted_similarities.mean(axis=0)
    
    recommendations = pd.DataFrame({
        'movieId': df_movie['movieId'],
        'similarity_score': mean_similarities
    })
    
    rated_movies = user_ratings['movieId']
    recommendations = recommendations[~recommendations['movieId'].isin(rated_movies)]
    
    return recommendations.nlargest(n_recommendations, 'similarity_score')

In [68]:
reco_Bayesian_user1_Jaccard = get_recommendations_bayesian_jaccard(user_id, mv_user1, df_movie_genres, bayesian_weights)

c:\Users\EFCA7255\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\pairwise.py:2361: DataConversionWarning: Data was converted to boolean for metric jaccard
  warnings.warn(msg, DataConversionWarning)

In [69]:
reco_Bayesian_user1_Jaccard = add_columns(reco_Bayesian_user1_Jaccard, df_movieB, columns_to_add)

In [70]:
reco_Bayesian_user1_Jaccard

,movieId,similarity_score,originalTitle,genres,startYear
0,1210,4.330184,Star Wars: Episode VI - Return of the Jedi,"Action,Adventure,Fantasy",1983
1,3578,4.212930,Gladiator,"Action,Adventure,Drama",2000
2,599,4.181507,The Wild Bunch,"Action,Adventure,Drama",1969
3,7090,4.152732,Ying xiong,"Action,Adventure,Drama",2002
4,4327,4.134179,The Magnificent Seven,"Action,Adventure,Drama",1960
5,72998,4.071927,Avatar,"Action,Adventure,Fantasy",2009
6,59387,4.036791,The Fall,"Adventure,Drama,Fantasy",2006
7,50068,4.022201,Letters from Iwo Jima,"Action,Adventure,Drama",2006
8,3654,4.020911,The Guns of Navarone,"Action,Adventure,Drama",1961
9,5064,4.016949,The Count of Monte Cristo,"Action,Adventure,Drama",2002

In [71]:
reco_Bayesian_user1

,movieId,similarity_score,originalTitle,genres,startYear
0,3578,5.934644,Gladiator,"Action,Adventure,Drama",2000
1,599,5.890380,The Wild Bunch,"Action,Adventure,Drama",1969
2,7090,5.849844,Ying xiong,"Action,Adventure,Drama",2002
3,4327,5.823710,The Magnificent Seven,"Action,Adventure,Drama",1960
4,3629,5.711285,The Gold Rush,"Adventure,Comedy,Drama",1925
5,59387,5.675529,The Fall,"Adventure,Drama,Fantasy",2006
6,50068,5.665969,Letters from Iwo Jima,"Action,Adventure,Drama",2006
7,3654,5.664152,The Guns of Navarone,"Action,Adventure,Drama",1961
8,5064,5.658571,The Count of Monte Cristo,"Action,Adventure,Drama",2002
9,7147,5.643998,Big Fish,"Adventure,Drama,Fantasy",2003

In [72]:
recommended_moviesB_Bayesian_euclidean

,movieId,similarity_score,originalTitle,genres,startYear
0,2019,6.208967,Shichinin no samurai,Drama,1954
1,2858,6.086733,American Beauty,Drama,1999
2,1210,6.069315,Star Wars: Episode VI - Return of the Jedi,"Action,Adventure,Fantasy",1983
3,926,6.038917,All About Eve,Drama,1950
4,3089,5.911240,Ladri di biciclette,Drama,1948
5,3949,5.885683,Requiem for a Dream,Drama,2000
6,778,5.867501,Trainspotting,Drama,1996
7,2360,5.837986,Festen,Drama,1998
8,1132,5.833464,Manon des sources,Drama,1986
9,2357,5.821296,Central do Brasil,Drama,1998

In [73]:
films_user1

,userId,movieId,rating,timestamp,originalTitle,genres,startYear
131,1,4993,5.0,1112484682,The Lord of the Rings: The Fellowship of the Ring,"Adventure,Drama,Fantasy",2001
170,1,8507,5.0,1094786027,Freaks,"Drama,Horror",1932
158,1,7153,5.0,1112484633,The Lord of the Rings: The Return of the King,"Adventure,Drama,Fantasy",2003
142,1,5952,5.0,1112484619,The Lord of the Rings: The Two Towers,"Adventure,Drama,Fantasy",2002
30,1,1196,4.5,1112484742,Star Wars: Episode V - The Empire Strikes Back,"Action,Adventure,Fantasy",1980
...,...,...,...,...,...,...,...
117,1,4133,3.0,1112486169,Masters of the Universe,"Action,Adventure,Fantasy",1987
128,1,4915,3.0,1112486076,The Beastmaster,"Action,Adventure,Fantasy",1982
134,1,5040,3.0,1112486086,Conan the Destroyer,"Action,Adventure,Fantasy",1984
154,1,6888,3.0,1112486127,Scary Movie 3,Comedy,2003
166,1,7482,3.0,1112484575,Enter the Dragon,"Action,Crime,Thriller",1973

In [ ]:
#checking for user_id 32

In [74]:
user_id = 32

In [79]:
#films prefered by new user_id = 32

In [75]:
mv_user32 = mv_ratings.loc[mv_ratings['userId']==32]

In [76]:
films_user32 = add_columns(mv_user32, df_movieB, columns_to_add)

In [77]:
films_user32.sort_values('rating', ascending=False, inplace=True) #to get highest ratings on top

In [83]:
films_user32

,userId,movieId,rating,timestamp,originalTitle,genres,startYear
13,32,50,5.0,845962438,The Usual Suspects,"Crime,Drama,Mystery",1995.0
44,32,368,5.0,845962888,Maverick,"Action,Adventure,Comedy",1994.0
34,32,318,5.0,845962584,The Shawshank Redemption,Drama,1994.0
30,32,296,5.0,845962251,Pulp Fiction,"Crime,Drama",1994.0
69,32,778,5.0,845963397,Trainspotting,Drama,1996.0
...,...,...,...,...,...,...,...
59,32,588,3.0,845962538,Aladdin,"Adventure,Animation,Comedy",1992.0
71,32,786,3.0,845963239,Eraser,"Action,Crime,Thriller",1996.0
61,32,590,3.0,845962538,Dances with Wolves,"Adventure,Drama,Western",1990.0
32,32,315,2.0,845962792,The Specialist,"Action,Drama,Thriller",1994.0
41,32,355,2.0,845962944,The Flintstones,"Comedy,Family,Fantasy",1994.0

In [78]:
films_user32.describe()

       userId      movieId     rating     timestamp    startYear
count    73.0    73.000000  73.000000  7.300000e+01    72.000000
mean     32.0   334.465753   3.452055  8.459628e+08  1993.861111
std       0.0   235.906236   0.667522  2.836812e+02     2.462711
min      32.0     6.000000   2.000000  8.459623e+08  1977.000000
25%      32.0   153.000000   3.000000  8.459626e+08  1993.750000
50%      32.0   337.000000   3.000000  8.459627e+08  1994.000000
75%      32.0   474.000000   4.000000  8.459629e+08  1995.000000
max      32.0  1047.000000   5.000000  8.459636e+08  1996.000000

In [ ]:
#cosine similarity

In [80]:
def get_recommendations_bayesian(user_id, df_user, df_movie, bayesian_weights, n_recommendations=10):
    """Get recommendations using pre-calculated Bayesian weights"""
    
    genre_cols = df_movie.columns[df_movie.columns != 'movieId']
    user_ratings = df_user[df_user['userId'] == user_id]
    user_movies = user_ratings.merge(df_movie, on='movieId')
    
    # Create weights DataFrame
    weights_df = pd.DataFrame(index=df_movie['movieId'])
    weights_df['bayesian_weight'] = bayesian_weights
    weights_df = weights_df.fillna(weights_df['bayesian_weight'].mean())
    
    # Calculate similarities
    all_movies_features = df_movie[genre_cols].values
    user_movies_features = user_movies[genre_cols].values
    similarities = cosine_similarity(user_movies_features, all_movies_features)
    
    # Proper reshaping for multiplication
    ratings_reshape = user_ratings['rating'].values.reshape(-1, 1)
    bayesian_weights_aligned = weights_df.reindex(df_movie['movieId'])['bayesian_weight'].values.reshape(1, -1)
    
    # Print shapes for debugging
    print("Similarities shape:", similarities.shape)
    print("Ratings shape:", ratings_reshape.shape)
    print("Weights shape:", bayesian_weights_aligned.shape)
    
    weighted_similarities = (
        similarities * 
        ratings_reshape *
        bayesian_weights_aligned
    )
    
    mean_similarities = weighted_similarities.mean(axis=0)
    
    recommendations = pd.DataFrame({
        'movieId': df_movie['movieId'],
        'similarity_score': mean_similarities
    })
    
    rated_movies = user_ratings['movieId']
    recommendations = recommendations[~recommendations['movieId'].isin(rated_movies)]
    
    return recommendations.nlargest(n_recommendations, 'similarity_score')

In [82]:
def get_recommendations_bayesian(user_id, df_user, df_movie, bayesian_weights, n_recommendations=10):
    """Get recommendations using pre-calculated Bayesian weights"""
    
    genre_cols = df_movie.columns[df_movie.columns != 'movieId']
    user_ratings = df_user[df_user['userId'] == user_id]
    user_movies = user_ratings.merge(df_movie, on='movieId')
    
    # Create weights DataFrame
    weights_df = pd.DataFrame(index=df_movie['movieId'])
    weights_df['bayesian_weight'] = bayesian_weights
    weights_df = weights_df.fillna(weights_df['bayesian_weight'].mean())
    
    # Calculate similarities
    all_movies_features = df_movie[genre_cols].values
    user_movies_features = user_movies[genre_cols].values
    similarities = cosine_similarity(user_movies_features, all_movies_features)
    
    # Ensure ratings align with similarities
    ratings = user_movies['rating'].values  # Use ratings from merged DataFrame
    ratings_reshape = ratings.reshape(-1, 1)
    bayesian_weights_aligned = weights_df.reindex(df_movie['movieId'])['bayesian_weight'].values.reshape(1, -1)
    
    # Print shapes for debugging
    print("Similarities shape:", similarities.shape)
    print("Ratings shape:", ratings_reshape.shape)
    print("Weights shape:", bayesian_weights_aligned.shape)
    
    weighted_similarities = (
        similarities * 
        ratings_reshape *
        bayesian_weights_aligned
    )
    
    mean_similarities = weighted_similarities.mean(axis=0)
    
    recommendations = pd.DataFrame({
        'movieId': df_movie['movieId'],
        'similarity_score': mean_similarities
    })
    
    rated_movies = user_ratings['movieId']
    recommendations = recommendations[~recommendations['movieId'].isin(rated_movies)]
    
    return recommendations.nlargest(n_recommendations, 'similarity_score')

In [83]:
recommended_moviesB_Bayesian = get_recommendations_bayesian(user_id, mv_ratings, df_movie_genres, bayesian_weights)

Similarities shape: (72, 22645)
Ratings shape: (72, 1)
Weights shape: (1, 22645)

In [84]:
recommended_moviesB_Bayesian = add_columns(recommended_moviesB_Bayesian, df_movieB, columns_to_add)

In [85]:
recommended_moviesB_Bayesian

,movieId,similarity_score,originalTitle,genres,startYear
0,1234,6.404716,The Sting,"Comedy,Crime,Drama",1973
1,293,6.297678,Léon,"Action,Crime,Drama",1994
2,5782,6.272544,Le professionnel,"Action,Crime,Drama",1981
3,1218,6.169910,Dip huet seung hung,"Action,Crime,Drama",1989
4,858,6.128661,The Godfather,"Crime,Drama",1972
5,1953,6.127077,The French Connection,"Action,Crime,Drama",1971
6,3334,6.102055,Key Largo,"Action,Crime,Drama",1948
7,3741,6.101977,Badlands,"Action,Crime,Drama",1973
8,1273,6.059414,Down by Law,"Comedy,Crime,Drama",1986
9,2289,6.053614,The Player,"Comedy,Crime,Drama",1992

In [86]:
from sklearn.metrics.pairwise import euclidean_distances

def get_recommendations_euclidean_bayesian(user_id, df_user, df_movie, bayesian_weights, n_recommendations=10):
    """Get recommendations using Euclidean distance and Bayesian weights"""
    
    # Get genre columns
    genre_cols = df_movie.columns[df_movie.columns != 'movieId']
    
    # Get user's rated movies and merge with features
    user_ratings = df_user[df_user['userId'] == user_id]
    user_movies = user_ratings.merge(df_movie, on='movieId')
    
    # Create weights DataFrame
    weights_df = pd.DataFrame(index=df_movie['movieId'])
    weights_df['bayesian_weight'] = bayesian_weights
    weights_df = weights_df.fillna(weights_df['bayesian_weight'].mean())
    
    # Calculate distances
    all_movies_features = df_movie[genre_cols].values
    user_movies_features = user_movies[genre_cols].values
    
    # Convert distances to similarities (1 - normalized distances)
    distances = euclidean_distances(user_movies_features, all_movies_features)
    max_dist = distances.max()
    similarities = 1 - (distances / max_dist)  # Normalize to [0,1]
    
    # Ensure proper alignment of ratings and weights
    ratings = user_movies['rating'].values
    ratings_reshape = ratings.reshape(-1, 1)
    bayesian_weights_aligned = weights_df.reindex(df_movie['movieId'])['bayesian_weight'].values.reshape(1, -1)
    
    # Print shapes for debugging
    print("Similarities shape:", similarities.shape)
    print("Ratings shape:", ratings_reshape.shape)
    print("Weights shape:", bayesian_weights_aligned.shape)
    
    # Calculate weighted similarities
    weighted_similarities = (
        similarities * 
        ratings_reshape *
        bayesian_weights_aligned
    )
    
    mean_similarities = weighted_similarities.mean(axis=0)
    
    # Create recommendations dataframe
    recommendations = pd.DataFrame({
        'movieId': df_movie['movieId'],
        'similarity_score': mean_similarities
    })
    
    # Filter out movies user has already rated
    rated_movies = user_ratings['movieId']
    recommendations = recommendations[~recommendations['movieId'].isin(rated_movies)]
    
    return recommendations.nlargest(n_recommendations, 'similarity_score')

In [87]:
recommended_moviesB_Bayesian_euclidean = get_recommendations_euclidean_bayesian(user_id, mv_ratings, df_movie_genres, bayesian_weights)

Similarities shape: (72, 22645)
Ratings shape: (72, 1)
Weights shape: (1, 22645)

In [88]:
recommended_moviesB_Bayesian_euclidean = add_columns(recommended_moviesB_Bayesian_euclidean, df_movieB, columns_to_add)

In [89]:
recommended_moviesB_Bayesian_euclidean

,movieId,similarity_score,originalTitle,genres,startYear
0,1193,5.988618,One Flew Over the Cuckoo's Nest,Drama,1975
1,2019,5.986370,Shichinin no samurai,Drama,1954
2,2959,5.965705,Fight Club,Drama,1999
3,2858,5.868518,American Beauty,Drama,1999
4,926,5.822417,All About Eve,Drama,1950
5,3089,5.699318,Ladri di biciclette,Drama,1948
6,3949,5.674677,Requiem for a Dream,Drama,2000
7,1358,5.647733,Sling Blade,Drama,1996
8,2360,5.628689,Festen,Drama,1998
9,1132,5.624330,Manon des sources,Drama,1986

In [90]:
from sklearn.metrics.pairwise import pairwise_distances

def get_recommendations_bayesian_jaccard(user_id, df_user, df_movie, bayesian_weights, n_recommendations=10):
    """Get recommendations using Jaccard similarity and Bayesian weights"""
    
    # Get genre columns
    genre_cols = df_movie.columns[df_movie.columns != 'movieId']
    
    # Get user's rated movies and merge with features
    user_ratings = df_user[df_user['userId'] == user_id]
    user_movies = user_ratings.merge(df_movie, on='movieId')
    
    # Create weights DataFrame
    weights_df = pd.DataFrame(index=df_movie['movieId'])
    weights_df['bayesian_weight'] = bayesian_weights
    weights_df = weights_df.fillna(weights_df['bayesian_weight'].mean())
    
    # Calculate Jaccard similarities
    all_movies_features = df_movie[genre_cols].values
    user_movies_features = user_movies[genre_cols].values
    
    # Convert distances to similarities (1 - distance)
    similarities = 1 - pairwise_distances(
        user_movies_features, 
        all_movies_features, 
        metric='jaccard'
    )
    
    # Ensure proper alignment of ratings and weights
    ratings = user_movies['rating'].values
    ratings_reshape = ratings.reshape(-1, 1)
    bayesian_weights_aligned = weights_df.reindex(df_movie['movieId'])['bayesian_weight'].values.reshape(1, -1)
    
    # Print shapes for debugging
    print("Similarities shape:", similarities.shape)
    print("Ratings shape:", ratings_reshape.shape)
    print("Weights shape:", bayesian_weights_aligned.shape)
    
    # Calculate weighted similarities
    weighted_similarities = (
        similarities * 
        ratings_reshape *
        bayesian_weights_aligned
    )
    
    mean_similarities = weighted_similarities.mean(axis=0)
    
    # Create recommendations dataframe
    recommendations = pd.DataFrame({
        'movieId': df_movie['movieId'],
        'similarity_score': mean_similarities
    })
    
    # Filter out movies user has already rated
    rated_movies = user_ratings['movieId']
    recommendations = recommendations[~recommendations['movieId'].isin(rated_movies)]
    
    return recommendations.nlargest(n_recommendations, 'similarity_score')

In [91]:
reco_Bayesian_Jaccard = get_recommendations_bayesian_jaccard(user_id, mv_ratings, df_movie_genres, bayesian_weights)

Similarities shape: (72, 22645)
Ratings shape: (72, 1)
Weights shape: (1, 22645)

c:\Users\EFCA7255\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\pairwise.py:2361: DataConversionWarning: Data was converted to boolean for metric jaccard
  warnings.warn(msg, DataConversionWarning)

In [92]:
reco_Bayesian_Jaccard = add_columns(reco_Bayesian_Jaccard, df_movieB, columns_to_add)

In [93]:
reco_Bayesian_Jaccard

,movieId,similarity_score,originalTitle,genres,startYear
0,858,4.606587,The Godfather,"Crime,Drama",1972
1,293,4.548667,Léon,"Action,Crime,Drama",1994
2,1234,4.538681,The Sting,"Comedy,Crime,Drama",1973
3,5782,4.530513,Le professionnel,"Action,Crime,Drama",1981
4,1221,4.506915,The Godfather Part II,"Crime,Drama",1974
5,1218,4.456382,Dip huet seung hung,"Action,Crime,Drama",1989
6,6016,4.444334,Cidade de Deus,"Crime,Drama",2002
7,1203,4.433040,12 Angry Men,"Crime,Drama",1957
8,1953,4.425445,The French Connection,"Action,Crime,Drama",1971
9,3334,4.407372,Key Largo,"Action,Crime,Drama",1948

In [94]:
recommended_moviesB_Bayesian_euclidean

,movieId,similarity_score,originalTitle,genres,startYear
0,1193,5.988618,One Flew Over the Cuckoo's Nest,Drama,1975
1,2019,5.986370,Shichinin no samurai,Drama,1954
2,2959,5.965705,Fight Club,Drama,1999
3,2858,5.868518,American Beauty,Drama,1999
4,926,5.822417,All About Eve,Drama,1950
5,3089,5.699318,Ladri di biciclette,Drama,1948
6,3949,5.674677,Requiem for a Dream,Drama,2000
7,1358,5.647733,Sling Blade,Drama,1996
8,2360,5.628689,Festen,Drama,1998
9,1132,5.624330,Manon des sources,Drama,1986

In [95]:
recommended_moviesB_Bayesian

,movieId,similarity_score,originalTitle,genres,startYear
0,1234,6.404716,The Sting,"Comedy,Crime,Drama",1973
1,293,6.297678,Léon,"Action,Crime,Drama",1994
2,5782,6.272544,Le professionnel,"Action,Crime,Drama",1981
3,1218,6.169910,Dip huet seung hung,"Action,Crime,Drama",1989
4,858,6.128661,The Godfather,"Crime,Drama",1972
5,1953,6.127077,The French Connection,"Action,Crime,Drama",1971
6,3334,6.102055,Key Largo,"Action,Crime,Drama",1948
7,3741,6.101977,Badlands,"Action,Crime,Drama",1973
8,1273,6.059414,Down by Law,"Comedy,Crime,Drama",1986
9,2289,6.053614,The Player,"Comedy,Crime,Drama",1992

In [96]:
films_user32

,userId,movieId,rating,timestamp,originalTitle,genres,startYear
13,32,50,5.0,845962438,The Usual Suspects,"Crime,Drama,Mystery",1995.0
44,32,368,5.0,845962888,Maverick,"Action,Adventure,Comedy",1994.0
34,32,318,5.0,845962584,The Shawshank Redemption,Drama,1994.0
30,32,296,5.0,845962251,Pulp Fiction,"Crime,Drama",1994.0
69,32,778,5.0,845963397,Trainspotting,Drama,1996.0
...,...,...,...,...,...,...,...
59,32,588,3.0,845962538,Aladdin,"Adventure,Animation,Comedy",1992.0
71,32,786,3.0,845963239,Eraser,"Action,Crime,Thriller",1996.0
61,32,590,3.0,845962538,Dances with Wolves,"Adventure,Drama,Western",1990.0
32,32,315,2.0,845962792,The Specialist,"Action,Drama,Thriller",1994.0
41,32,355,2.0,845962944,The Flintstones,"Comedy,Family,Fantasy",1994.0

In [ ]:
#User1 once agagin

In [106]:
user_id = 73

In [97]:
recommended_moviesB_Bayesian = get_recommendations_bayesian(user_id, mv_ratings, df_movie_genres, bayesian_weights)

Similarities shape: (72, 22645)
Ratings shape: (72, 1)
Weights shape: (1, 22645)

In [98]:
recommended_moviesB_Bayesian = add_columns(recommended_moviesB_Bayesian, df_movieB, columns_to_add)

In [99]:
recommended_moviesB_Bayesian_euclidean = get_recommendations_euclidean_bayesian(user_id, mv_ratings, df_movie_genres, bayesian_weights)

Similarities shape: (72, 22645)
Ratings shape: (72, 1)
Weights shape: (1, 22645)

In [100]:
recommended_moviesB_Bayesian_euclidean = add_columns(recommended_moviesB_Bayesian_euclidean, df_movieB, columns_to_add)

In [101]:
reco_Bayesian_Jaccard = get_recommendations_bayesian_jaccard(user_id, mv_ratings, df_movie_genres, bayesian_weights)

Similarities shape: (72, 22645)
Ratings shape: (72, 1)
Weights shape: (1, 22645)

c:\Users\EFCA7255\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\pairwise.py:2361: DataConversionWarning: Data was converted to boolean for metric jaccard
  warnings.warn(msg, DataConversionWarning)

In [102]:
reco_Bayesian_Jaccard = add_columns(reco_Bayesian_Jaccard, df_movieB, columns_to_add)

In [113]:
mv_user73 = mv_ratings.loc[mv_ratings['userId']==73]

In [114]:
films_user73 = add_columns(mv_user73, df_movieB, columns_to_add)

In [115]:
films_user73.sort_values('rating', ascending=False, inplace=True)

In [116]:
films_user73.describe()

       userId      movieId      rating     timestamp    startYear
count   187.0   187.000000  187.000000  1.870000e+02   184.000000
mean     73.0  1862.256684    3.556150  9.630319e+08  1984.032609
std       0.0  1020.127026    1.122019  1.114614e+03    13.209080
min      73.0    17.000000    1.000000  9.630299e+08  1939.000000
25%      73.0  1158.000000    3.000000  9.630310e+08  1980.000000
50%      73.0  1625.000000    4.000000  9.630318e+08  1986.000000
75%      73.0  2831.000000    4.000000  9.630328e+08  1994.250000
max      73.0  3741.000000    5.000000  9.630336e+08  1999.000000

In [117]:
films_user73

,userId,movieId,rating,timestamp,originalTitle,genres,startYear
1,73,34,5.0,963031470,Babe,"Comedy,Drama,Family",1995.0
4,73,110,5.0,963029978,Braveheart,"Biography,Drama,War",1995.0
3,73,55,5.0,963031872,Georgia,"Drama,Music",1995.0
6,73,150,5.0,963030463,Apollo 13,"Adventure,Drama,History",1995.0
10,73,296,5.0,963030359,Pulp Fiction,"Crime,Drama",1994.0
...,...,...,...,...,...,...,...
84,73,1372,1.0,963032742,Star Trek VI: The Undiscovered Country,"Action,Adventure,Sci-Fi",1991.0
86,73,1374,1.0,963032742,Star Trek II: The Wrath of Khan,"Action,Adventure,Sci-Fi",1982.0
85,73,1373,1.0,963032742,Star Trek V: The Final Frontier,"Action,Adventure,Fantasy",1989.0
88,73,1376,1.0,963032742,Star Trek IV: The Voyage Home,"Adventure,Comedy,Sci-Fi",1986.0
127,73,2393,1.0,963032742,Star Trek: Insurrection,"Action,Adventure,Sci-Fi",1998.0

In [118]:
recommended_moviesB_Bayesian #cosine sim

,movieId,similarity_score,originalTitle,genres,startYear
0,2019,8.087811,Shichinin no samurai,Drama,1954
1,2959,8.059892,Fight Club,Drama,1999
2,3089,7.699993,Ladri di biciclette,Drama,1948
3,3949,7.666702,Requiem for a Dream,Drama,2000
4,92259,7.625070,Intouchables,"Comedy,Drama",2011
5,2360,7.604571,Festen,Drama,1998
6,1132,7.598682,Manon des sources,Drama,1986
7,1952,7.554902,Midnight Cowboy,Drama,1969
8,2132,7.552311,Who's Afraid of Virginia Woolf?,Drama,1966
9,1251,7.550900,8½,Drama,1963

In [119]:
recommended_moviesB_Bayesian_euclidean

,movieId,similarity_score,originalTitle,genres,startYear
0,2019,7.308903,Shichinin no samurai,Drama,1954
1,2959,7.283672,Fight Club,Drama,1999
2,3089,6.958433,Ladri di biciclette,Drama,1948
3,3949,6.928348,Requiem for a Dream,Drama,2000
4,2360,6.872201,Festen,Drama,1998
5,1132,6.866879,Manon des sources,Drama,1986
6,1952,6.827316,Midnight Cowboy,Drama,1969
7,2132,6.824974,Who's Afraid of Virginia Woolf?,Drama,1966
8,1251,6.823699,8½,Drama,1963
9,3983,6.820618,You Can Count on Me,Drama,2000

In [120]:
reco_Bayesian_Jaccard

,movieId,similarity_score,originalTitle,genres,startYear
0,92259,5.711474,Intouchables,"Comedy,Drama",2011
1,2973,5.627664,Crimes and Misdemeanors,"Comedy,Drama",1989
2,2019,5.600199,Shichinin no samurai,Drama,1954
3,2959,5.580867,Fight Club,Drama,1999
4,46578,5.563619,Little Miss Sunshine,"Comedy,Drama",2006
5,82,5.559655,Antonia,"Comedy,Drama",1995
6,1238,5.541316,Local Hero,"Comedy,Drama",1983
7,1246,5.538322,Dead Poets Society,"Comedy,Drama",1989
8,1243,5.522676,Rosencrantz & Guildenstern Are Dead,"Comedy,Drama",1990
9,6867,5.504291,The Station Agent,"Comedy,Drama",2003